@import '../ewwscripts/theme.scss';

.topbar {
  background: $base0;
  color: $base8;
}

.topbar-section-right {}

.workspace {}

.workspace-number {
  padding-left: $gap;
  padding-right: $gap;
}

.workspace-focused {
  background: $cyan;
  color: $base0;
}

.workspace-visible {
  background: $base2;
}

.systray {
  padding-right: $gap;
}