@import '../ewwscripts/theme.scss';

.topbar {
  background: none;
  color: $base8;
  padding-top: $gap;
  padding-left: $gap;
  padding-right: $gap;
}

.topbar-section-right {
  padding-right: $gap;
}

.music {
  opacity: 0.5;
}

.weather {
  opacity: 0.5;
}

.workspace {}

.workspace-number {
  padding-left: $gap;
  padding-right: $gap;
}

.workspace-urgent {
  opacity: 1;
  border-radius: $gap;
  background: $red;
}

.workspace-focused {
  opacity: 1;
  border-radius: $gap;
  background: rgba(255, 255, 255, 0.25);
}

.workspace-visible {
  opacity: 1;
}

.workspace-inactive {
  opacity: 0.5;
}

.systray {
  padding-right: $gap;
}

.divider {
  opacity: 0.25;
}