@import '../ewwscripts/theme.scss';

.topbar {
  background: $base0;
}

.workspace {
  padding-left: $gap;
  padding-right: $gap;
}

.workspace-focused {
  background: $cyan;
  color: $black;
}

.workspace-visible {
  background: $base2;
}